<div>
  <h1>Home</h1>
  <div>
    {{#each products}}
      <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
      </div>
    {{/each}}
  </div>
</div>