
<div>
  <h1>Real Time Products</h1>

  <form id="productForm" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Nombre del producto" required />
    <input type="text" name="description" placeholder="Descripción" required />
    <input type="text" name="code" placeholder="Código" required />
    <input type="number" name="price" placeholder="Precio" required />
    <input type="number" name="stock" placeholder="Stock" required />
    <input type="text" name="category" placeholder="Categoría" required />
    <input type="file" name="file" />
    <button type="submit">Agregar Producto</button>
  </form>


</div>

  <div id="productList">
    {{#each products}}
      <div class="product-card">
        <img
          src="{{this.thumbnails}}"
          alt="{{this.title}}"
          class="product-image"
        />
        <div class="product-info">
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p class="price">${{this.price}}</p>
          <p>Stock: {{this.stock}}</p>
          <p class="category">{{this.category}}</p>
          <button onclick="deleteProduct('{{this.id}}')" class="delete-btn">Eliminar</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>